
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Ubuntu, sans-serif;
  color: white;
  text-align: center;
   
}

.container {
    
  width: 1170px;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  

}

.home {
    background-size: cover;
    background-color: black ;
    /* background-image: url(../img/backgroung-w7-clone.jpg); */
    height: 100vh;
    background-attachment: fixed;
}

.home .image-menu {
  width: 184px;
}
.home .header .nav {
  display: flex;
  justify-content: center;
  
}

.home .header .nav ul {
  display: flex;
  list-style: none;
}

.home .header .nav ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
}

.home .header .nav ul li a {
  font-family: Ubuntu, sans-serif;
    color: white;
    text-transform: capitalize;
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
    padding: 20px;
}

.home .header .nav ul li a:hover {
  border-bottom: 1px solid #d79953;
  color: #d79953;
}

/*Preciso acabar o menu e depois prosseguir*/

.openAcc {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 130px;
}

.openAcc h1 {
  justify-content: center;
  align-items: center;
  margin: 0 0 23px;
  font-size: 60px;
  text-transform: uppercase;
  text-align: center;

}

.openAcc h3 {
  margin:0 0 23px;
  padding: 17px 0 0;
  font-size: 26px;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
}
.open-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-wrapped {
  display: block;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items:center;
  width: 25px;
  margin-top: 25px;
}

.btn-3 {
  display: flex;
  text-align: justify;
}

.button {
  display: flex;
  text-transform: capitalize;
  text-decoration: none;
  color: white;
  background-color: #d79953;
  cursor: pointer;
  margin: 25px;
  padding:15px 10px;
  font-size: 16px;
}


.button:hover {
  background-color: #22313f;
}


/*spacing*/

.spacing {
  height:100px;
  width: 1110px;
}

.mercham {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: #252839;
  margin: 20px;
  padding: 20px;
}
.mercham h5 {
  
  color: white;
  font-size: 20px;

}

.mercham h5 p {
  text-align: center;
}