:root {
  primary-color: #d79953
}
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Ubuntu, sans-serif;
  color: white;
  font-size: 14px;
}

.container {
    
  width: 1170px;
  margin: 0 auto;
  

}

.home {
    background-size: cover;
    background-color: black ;
    /* background-image: url(../img/backgroung-w7-clone.jpg); */
    height: 100vh;
    
    background-attachment: fixed;
}

.home .image-menu {
  width: 184px;
}
.home .header .nav {
  display: flex;
  justify-content: center;
  
}

.home .header .nav ul {
  display: flex;
  list-style: none;
}

.home .header .nav ul li {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
}

.home .header .nav ul li a {
  font-family: Ubuntu, sans-serif;
    color: white;
    text-transform: capitalize;
    text-decoration: none;
    font-weight: bold;
    font-size: 12px;
    padding: 20px;
}

.home .header .nav ul li a:hover {
  border-bottom: 1px solid var(--primary-color);
    color:white;
}

/*Preciso acabar o menu e depois prosseguir*/

.openAcc {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.openAcc h1 {
  margin: 15px 0 15px 0; 
  font-size: 30px;

}

.openAcc h3 {
  font-size: 25px;
  margin-bottom: 15px;
}
.open-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.content-wrapped {
  display: block;
}

.buttons {
  width: 25px;
  margin-top: 25px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.button {
  color: white;
  background-color: #d79953;
  cursor: pointer;
}